*.log
*.csv
*.dat
*.seed
*.out
*.pid
*.gz
pids
logs
node_modules
*.sqlite
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
.idea/
*.sublime-workspace
*.sublime-project
/nbproject/
.tags
.project
.settings/
composer.lock
/vendor