<html lang="zh-CN">
<head>
<meta charset="UTF-8" />
<meta http-equiv="refresh" content="<?php echo $wait;?>;URL=<?php echo $url;?>" />
<title>302</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"
  />
<style type="text/css">
body{ font: 12px/22px "Microsoft Yahei", "Consolas",Tahoma, Geneva, sans-serif; background-color: #f2f2f2; letter-spacing:1px; }
#content{ margin: 80px auto; padding: 0 10px; text-align: center; }
h2{ font-size: 24px; color: #262626; letter-spacing: 2px; }
#message {}
#redirect{ color:#aaa; }
a { color: #000;  }
</style>
</head>
<body>
<div id="content">
  <h2>提示信息</h2>
  <p><?php echo $message;?></p>
  <?php echo '<p id="redirect">'. $wait .'秒后自动跳转, 如果没有自动跳转请 <a href="'. $url .'">点击跳转</a>.</p>';?>

</div>
</body>
</html>
