
<html lang="zh-CN">
<head>
<meta charset="UTF-8" />
<title>404</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1, user-scalable=no">
<style type="text/css">
body{ font: 12px/22px "Microsoft Yahei", "Consolas",Tahoma, Geneva, sans-serif;background-color: #f2f2f2;letter-spacing:1px;}
#content{ margin: 80px auto; padding: 0 10px; text-align: center; }
.hd { font-size: 24px; font-weight: bold; letter-spacing: 2px; }
</style>
</head>
<body>
<div id="content">
  <p class="hd">404!</p>
  <p class="bd">您所访问的页面到火星遛弯了！</p>
</div>
</body>
</html>
