<html lang="zh-CN">
<head>
<meta charset="UTF-8" />
<title></title>
<style type="text/css">
body { font: 12px/18px Tahoma, Geneva, sans-serif; background-color: #f2f2f2;  }
#wrapper { margin: 2%; padding: 5% 2%; box-sizing: border-box; min-width: 320px; max-width: 1280px; font-size: 24px; }
p { display: table; width: 100%; text-align: center; }
span { font-size: 24px; }
span:first-child { padding-right: 10px; font-weight: bold; }
span:last-child { overflow:hidden; white-space:nowrap; font-size: 16px; }
</style>
</head>
<body>
  <div id="wrapper">
    <p>
      <span>404</span>
      <span>This page could not be found.</span>
    </p>
  </div>
</body>
</html>
